<br>
<div class="container">
    <form name="miFormulario" id="miFormulario"> 
        numero:<input ng-model="tarjetaCredito.numero" name="numero" id="numero" ng-pattern="/^[0-9a-zA-Z]{2} [0-9a-zA-Z]{2}$/" required>
        <span ng-show="miFormulario.numero.$error.required && miFormulario.numero.$dirty">El campo es requerido</span>
        <span ng-show="miFormulario.numero.$error.pattern && miFormulario.numero.$dirty">El patron es XX XX</span>
        <br>   
        mesCaducidad:<input ng-model="tarjetaCredito.mesCaducidad" name="mesCaducidad" id="mesCaducidad" type="number" max="12" required>
        <span ng-show="miFormulario.mesCaducidad.$error.required && miFormulario.mesCaducidad.$dirty">El campo es requerido</span>
        <span ng-show="miFormulario.mesCaducidad.$error.max && miFormulario.mesCaducidad.$dirty">El mes no puede ser mayor a 12</span>
        <br>   
        anyoCaducidad:<input ng-model="tarjetaCredito.anyoCaducidad" name="anyoCaducidad" id="anyoCaducidad">
        <br>  
        nombreTitular:<input ng-model="tarjetaCredito.nombreTitular" name="nombreTitular" id="nombreTitular">
        <br>  
        cvv:<input ng-model="tarjetaCredito.cvv" name="cvv" id="cvv">
        <br>   
        <button class="btn btn-primary" ng-click="update()" ng-disabled="miFormulario.$invalid">Actualizar tarjeta</button>
    </form>
</div>